* {
	padding: 0;
	margin: 0;
	border: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	background: url(../img/9.jpg) no-repeat 0px 0px;
	background-size: cover;
	line-height: 0;
}
    #Bo {
		width: 100%;
		height: 100%;
		position: relative;
	}
	.Bo-Zhong {
		width: 94%;
		padding:0 3%;
		height: 86%;
		position: relative;
	}
	.Bo-Zhong .Dian {
		width: 65%;
		height:100%;
		float: left;
	}
	.Bo-Zhong .Dian p {
		color:#FFF;
		bottom: 0;
		text-align: center;
		font-size: 30px;
		margin-top: -5%;
	}
	.Bo-Zhong .Zhong-l {
		height: 62%;
	}
	.Bo-Zhong .DIan {
		width: 34%;
		height: 100%;
		float: right;
		padding-top:1%;
		box-sizing: border-box;
		
	}   
	#Bo .II .So,
	#Bo .DD .UU,
	#Bo .JJ .YU {
		position: absolute;
		right: 0;
		top: 3%;
		right: 3%;
		z-index: 9999999999;
		cursor: pointer;
	}
	#Bo .II .MoMo,
	#Bo .DD .GG,
	#Bo .JJ .TU {
		width: 100%;
		height: 100%;
	}

	.describe{
		text-indent: 2em;
		font-size: 0.14rem;
		color: #fff;
		font-family: '微软雅黑';
		box-sizing:border-box;
		height: 36%;
		width: 100%;
		line-height: 0.2rem;
		padding: 1%;
	}
	.Yi{
		padding: 0.05rem;
		box-sizing: border-box;
		background: #434141;
		width: 100%;
		position: relative;
		margin: 0 auto;
		margin-bottom: 1%;
		height: 18%;
	}
	.TM p {
		color: #dfb050;
		font-size: 0.14rem;
		font-weight: bold;
		line-height: 0.2rem;
		/*height:10%;*/
	}
	.TM{
		color: #fff;
	}
	.TMblock{
		width: 96%;
		margin:1% auto;
		font-size: 0.1rem;
		line-height: 1.15;

	}
	.TMspan:not(:nth-child(1)){
		margin-left: 0.1rem;
	}
	.SASA {
		position: absolute;
		top: 3.5%;
		width: 20px;
		height: 20px;
		right: 1.5%;
		cursor: pointer;
	}
	.Si{
		padding: 0.05rem;
		box-sizing: border-box;
		font-size: 0.12rem;
		height: 39%;
		width: 100%;
		margin-bottom: 1%;
		position: relative;
		background: #434141;
		line-height: 0.14rem;
	} 
	 .TM {
		height: 100%;
		opacity: 0;
		transition: all 1s;
	}
	.dTab{
		width: 100%;
		height: 90%;
		text-align: center;
		font-size: 0.12rem;
		word-break:break-all;
	}

	.tMore{
		text-align: center;
	}
    .top{
    	text-align: center;
		color:#FFF;
		height: 8%;
    }
    .top p {
		display: inline-block;
	}
	.top .left,
	.top .right {
		font-size: 0.12rem;
	}
	.top .mid {
		padding: 0 6%;
		font-size: 0.24rem;
	}
	.footer {
		font-size: 0.12rem;
		color:#fff;
		text-align: center;
		height: 0.3rem;
        line-height: 0.3rem;

	}
	.footer span {
		margin-left: 2%;
		margin-right: 3%;
	}

	#Bo .II,
	#Bo .DD,
	#Bo .JJ {
		width: 100%;
		height: 100%;
		position: absolute;
		display: none;
		top: 0;
		background: rgba(0, 0, 0, 0.2);
	}
	#Bo .II .FA,
	#Bo .DD .FC,
	#Bo .JJ .FG {
		width: 0;
		height: 0;
		background: #2F79BE;
		position: absolute;
		top: 10%;
		z-index: 100;
		right: 20%;
	}   
  /*SDcity*/
    .SDcity_describe{
		text-indent: 2em;
		font-size: 0.14rem;
		color: #fff;
		font-family: '微软雅黑';
		box-sizing:border-box;
		width: 100%;
		min-height: 55%;
		max-height: 65%;

		line-height: 0.2rem;
		padding: 1%;
		margin-bottom: 2%;
		overflow: hidden;
		/*-moz-text-overflow:hidden;*/
	}
	.Bo-Zhong .SDcity_Zhong-l {
		height: 100%;
	} 
	.Cucheng{
		padding: 0.05rem;
		box-sizing: border-box;
		background: #434141;
		width: 100%;
		position: relative;
		margin: 0 auto;
		margin-top: 3%;
	}
	.bigSi{
        width: 98%;
        box-sizing: border-box;
        padding: 1%;
        color: #fff

    }
    .bigTM p{
        color: #dfb050;
		font-size: 0.2rem;
		font-weight: bold;
		line-height: 0.25rem;   
    }
    th,.twosi td:nth-child(6n),.twosi td:nth-child(6n-2){
       white-space:nowrap; overflow:hidden;

    }
    .bigdTab{
		width: 100%;
		height: 90%;
		text-align: center;
		font-size: 0.18rem;
		line-height: 0.25rem;
		word-break:break-all;
	}
  @media screen and (max-width:1024px){
      .describe{
      	 line-height: 0.25rem;
      	 font-size: 0.18rem;
      	 overflow: hidden;
      }
      .twosi .dTab{
      	height: 85%;
      	margin-top: 5%;
      }
      .Yi .TMblock{
      	 margin:2% auto;
      	 line-height: 1.2;
      }
      .Yi{
      	margin-bottom: 2%;
      }
      .dTab{
      	height: 95%;
      }
      .SDcity_describe{
		text-indent: 2em;
		font-size: 0.16rem;
		color: #fff;
		font-family: '微软雅黑';
		box-sizing:border-box;
		width: 100%;
		min-height: 57%;
		max-height: 60%;
		line-height: 0.25rem;
		padding:13% 1% 1%; 
		margin-bottom: 2%;
	}
	.bigTM p{
        color: #dfb050;
		font-size: 0.25rem;
		font-weight: bold;
		line-height: 0.28rem;  
		margin:1% 0 ; 
    }
	.bigdTab{
	    height: 85%;
		text-align: center;
		font-size: 0.2rem;
		line-height: 0.35rem;
		word-break:break-all;
	}
      
  }
