* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	position: relative;
}

.ok {
	position: absolute;
	left: -64px;
	top: 20px;
	transition: all 1s;
}

.ok:hover {
	position: absolute;
	left: -20px;
	top: 20px;
}

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body,
html {
	width: 100%;
	height: 100%;
}

.top {
	text-align: center;
	/*padding-top: 2%;*/
}

.top p {
	display: inline-block;
}

.top .left,
.top .right {
	font-size: 14px;
	color: white;
}

.top .mid {
	padding: 0 8%;
	font-size: 23px;
	color: white;
}

#world {
	width: 100%;
	height: 90%;
	/*background-image: url(img/beijing.png);*/
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#box {
	width: 65%;
	height: 100%;
	float: left;
}

.world-you {
	width: 35%;
	height: 100%;
	float: left;
}

.big1 {
	width: 90%;
	height: 23%;
	margin-top: 2%;
	background: #434141;
}

.big2 {
	width: 90%;
	height: 23%;
	margin-top: 2%;
	background: #454e57;
}

.big3 {
	width: 90%;
	height: 23%;
	margin-top: 2%;
	background: #515e6d;
}

.big4 {
	width: 90%;
	height: 23%;
	margin-top: 2%;
	background: #6a7889;
}

.fangda1 {
	float: left;
	margin-top: 1%;
}

.fangda1:hover {
	cursor: pointer;
}

.fangda3 {
	float: left;
	margin-top: 1%;
}

.fangda3:hover {
	cursor: pointer;
}

.fangda4 {
	float: left;
	margin-top: 1%;
}

.fangda4:hover {
	cursor: pointer;
}

.world-he1 {
	width: 90%;
	height: 100%;
	float: left;
}

.world-he2 {
	width: 100%;
	height: 100%;
}

.world-he2 p {
	color: white;
	padding-left: 2%;
	padding-top: 2%;
	Padding-bottom: 6%;
}

.world-he2 ul {
	margin-top: -4.5%;
}

.world-he2 li {
	list-style: none;
	width: 16%;
	height: 25px;
	color: white;
	float: left;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	line-height: 25px;
}

.world-he2 li:hover {
	color: yellow;
}

.world-he3 {
	width: 90%;
	height: 100%;
	float: left;
}

.world-he4 {
	width: 90%;
	height: 100%;
	float: left;
}

#bottom {
	width: 100%;
	height: 4%;
	/*background: red;*/
	position: relative;
}

.ling1 {
	width: 0%;
	height: 0%;
	background: #3e61aa;
	position: absolute;
	top: 10%;
	right: 10%;
	/*display: none;*/
	z-index: 100;
}

.div-he1 {
	width: 770px;
	height: 390px;
	display: none;
	float: left;
}

.fangxiao1 {
	float: right;
	margin-top: 1%;
	display: none;
}

.fangxiao1:hover {
	cursor: pointer;
}

.ling3 {
	width: 0%;
	height: 0%;
	background: #3e61aa;
	right: 20%;
	position: absolute;
	top: 55%;
	/*display: none;*/
	z-index: 100;
}

.div-he3 {
	;
	width: 770px;
	height: 390px;
	float: left;
	display: none;
}

.fangxiao3 {
	float: right;
	margin-top: 1%;
	display: none;
}

.fangxiao3:hover {
	cursor: pointer;
}

.ling4 {
	width: 0%;
	height: 0%;
	background: #3e61aa;
	right: 20%;
	position: absolute;
	top: 75%;
	/*display: none;*/
	z-index: 100;
}

.div-he4 {
	width: 790px;
	height: 390px;
	float: left;
	display: none;
}

.fangxiao4 {
	float: right;
	margin-top: 1%;
	display: none;
}

.fangxiao4:hover {
	cursor: pointer;
}

.gai {
	height: 100%;
	width: 100%;
	background: white;
	position: absolute;
	opacity: 0.3;
	display: none;
	top: 0;
}

.aaa {
	width: 100%;
	height: 100%;
	background-image: url(../img/2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.footer {
	font-size: 13px;
	text-align: center;
	/*margin-top: 4%;*/
	color: white;
}

.footer span {
	display: inline-block;
	margin-left: 2%;
	margin-right: 3%;
	color: white;
}

.yazhou {
	color: black;
	position: absolute;
	top: 48%;
	left: 45%;
	z-index: 99;
	pointer-events: none;
	font-weight: bold;
	font-size: 20px;
}

.ouzhou {
	color: black;
	position: absolute;
	top: 40%;
	left: 38%;
	z-index: 99;
	pointer-events: none;
	font-weight: bold;
	font-size: 20px;
}

.dayangzhou {
	color: black;
	position: absolute;
	top: 70%;
	left: 50%;
	z-index: 99;
	pointer-events: none;
	font-weight: bold;
	font-size: 20px;
}

.feizhou {
	color: black;
	position: absolute;
	top: 60%;
	left: 34%;
	z-index: 99;
	pointer-events: none;
	font-weight: bold;
	font-size: 20px;
}

.beimeizhou {
	color: black;
	position: absolute;
	top: 44%;
	left: 16%;
	z-index: 99;
	pointer-events: none;
	font-weight: bold;
	font-size: 20px;
}

.nanmeizhou {
	color: black;
	position: absolute;
	top: 65%;
	left: 23%;
	z-index: 99;
	pointer-events: none;
	font-weight: bold;
	font-size: 20px;
}