* {
	padding: 0;
	margin: 0;
	border: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	background: url(../img/bac.png) no-repeat 50% -2px;
	background-size: cover;
}

@media only screen and (min-width: 1920px) {
	#Bo {
		width: 100%;
		heighT: 100%;
		position: relative;
	}
	.Bo-Zhong {
		width: 100%;
		height: 90%;
		position: relative;
	}
	.Bo-Zhong .Dian {
		width: 60%;
		height: 90%;
		float: left;
	}
	.Bo-Zhong .Dian p {
		color: black;
		bottom: 0;
		text-align: center;
		font-size: 30px;
		margin-top: -5%;
	}
	.Bo-Zhong .Zhong-l {
		height: 100%;
	}
	.Bo-Zhong .DIan {
		width: 30%;
		height: 90%;
		float: right;
		margin-right: 5%;
	}
	.Bo-Zhong .DIan .Yi {
		width: 100%;
		height: 19%;
		position: relative;
		margin: 0 auto;
		margin-bottom: 1%;
		background: #2f79be;
	}
	.DIan .Yi .TM,
	.DIan .Si .TM {
		opacity: 0;
		transition: all 3s;
	}
	.DIan .Yi .BIao {
		position: absolute;
		top: 20px;
		width: 46px;
		height: 30px;
		left: -10px;
	}
	.DIan .Yi .SASA {
		position: absolute;
		top: 3.5%;
		width: 20px;
		height: 20px;
		right: 1.5%;
		cursor: pointer;
	}
	.DIan .Yi p {
		color: #dfb050;
		font-size: 16px;
		font-weight: bold;
		padding: 5px 0 0 65px;
	}
	.DIan .Yi .Yi-W {
		width: 90%;
		height: 40%;
		display: block;
		padding-left: 15%;
		line-height: 25px;
	}
	.Yi .Yi-W .GDp {
		width: 35%;
		text-align: center;
		float: left;
		color: #fff;
		margin-right: 15%;
	}
	.Yi-W .GDp span {
		font-size: 16px;
	}
	.Bo-Zhong .DIan .Er {
		width: 100%;
		height: 24%;
		margin-bottom: 1%;
		position: relative;
		box-sizing: border-box;
		background: #2f79be;
	}
	.DIan .Er .BIao {
		position: absolute;
		top: 20px;
		width: 46px;
		height: 30px;
		left: -10px;
	}
	.DIan .Er .FD {
		position: absolute;
		top: 3.5%;
		width: 20px;
		height: 20px;
		right: 1.5%;
		cursor: pointer;
	}
	.DIan .Er p {
		color: #dfb050;
		font-size: 25px;
		letter-spacing: 2px;
	}
	.Er p span {
		font-size: 28px;
	}
	.Bo-Zhong .DIan .Ming {
		width: 90%;
		margin: 0;
		height: 100%;
		padding-left: 10%;
	}
	.Bo-Zhong .DIan .Sa {
		margin-bottom: 1%;
		height: 30%;
		width: 100%;
		position: relative;
		background: #2f79be;
	}
	.DIan .Sa .BIao {
		position: absolute;
		top: 20px;
		width: 46px;
		height: 30px;
		left: -10px;
	}
	.DIan .Sa .FD {
		position: absolute;
		top: 3.5%;
		width: 20px;
		height: 20px;
		cursor: pointer;
		right: 1.5%;
	}
	.DIan .Sa p {
		color: #dfb050;
		font-size: 25px;
		letter-spacing: 2px;
		padding: 15px 0 0 55px;
	}
	.Bo-Zhong .DIan .Zha {
		width: 90%;
		height: 100%;
		padding-left: 10%;
	}
	.Bo-Zhong .DIan .Si {
		height: 35%;
		width: 100%;
		padding-bottom: 5px;
		position: relative;
		background: #2f79be;
	}
	.DIan .Si .BIao {
		position: absolute;
		top: 20px;
		width: 46px;
		height: 30px;
		left: -10px;
	}
	.DIan .Si p {
		color: #dfb050;
		font-size: 16px;
		font-weight: bold;
		padding: 10px 0 0 55px;
	}
	.DIan .Si .YID{
		margin-left:0.5%;
	}
	.Si .Si-Yi {
		width: 80%;
		border-radius: 50px;
		background: #3e1f1d;
		text-align: center;
		height: 19px;
		line-height: 19px;
		margin: 3% auto 0px;
	}
	.Si .Si-Yi span {
		color: #fff;
		cursor: pointer;
		padding-right: 2%;
		margin-left: 3%;
		font-size: 18px;
	}
	.Si .Si-Yi .Yi-A {
		padding-left: 5%;
	}
	.Si .Si-Yi:hover {
		transform: scale(1.2);
	}
	.Si .Si-Er span {
		padding-left: 1%;
		padding-right: 9%;
	}
	.Si .Si-Er:hover span {
		color: yellow;
	}
	.Si .ZHuan {
		width: 100%;
		height: 196px;
		overflow: hidden;
	}
	.top {
		text-align: center;
		padding-top: 0.5%;
	}
	.top p {
		display: inline-block;
	}
	.top .left,
	.top .right {
		font-size: 25px;
	}
	.top .mid {
		padding: 0 5%;
		font-size: 30px;
	}
	.footer {
		font-size: 20px;
		margin-top: 1%;
		text-align: center;
	}
	.footer span {
		display: inline-block;
		margin-left: 2%;
		margin-right: 3%;
	}
	#Bo .II,
	#Bo .DD,
	#Bo .JJ {
		width: 100%;
		height: 100%;
		position: absolute;
		display: none;
		top: 0;
		background: rgba(0, 0, 0, 0.2);
	}
	#Bo .II .FA,
	#Bo .DD .FC,
	#Bo .JJ .FG {
		width: 0;
		height: 0;
		background: #2F79BE;
		position: absolute;
		top: 10%;
		z-index: 100;
		right: 20%;
	}
	#Bo .II .So,
	#Bo .DD .UU,
	#Bo .JJ .YU {
		position: absolute;
		right: 0;
		top: 3%;
		right: 3%;
		z-index: 9999999999;
		cursor: pointer;
	}
	#Bo .II .MoMo,
	#Bo .DD .GG,
	#Bo .JJ .TU {
		width: 100%;
		height: 100%;
	}
}

@media only screen and (min-width: 1368px) and (max-width: 1919px) {
	#Bo {
		width: 100%;
		heighT: 100%;
		position: relative;
	}
	.Bo-Zhong {
		width: 100%;
		height: 90%;
		position: relative;
	}
	.Bo-Zhong .Dian {
		width: 60%;
		height: 90%;
		float: left;
	}
	.Bo-Zhong .Dian p {
		color: black;
		bottom: 0;
		text-align: center;
		font-size: 30px;
		margin-top: -5%;
	}
	.Bo-Zhong .Zhong-l {
		height: 100%;
	}
	.Bo-Zhong .DIan {
		width: 30%;
		height: 90%;
		float: right;
		margin-right: 5%;
	}
	.Bo-Zhong .DIan .Yi {
		width: 100%;
		height: 19%;
		position: relative;
		margin: 0 auto;
		margin-bottom: 1%;
		background: #2f79be;
	}
	.DIan .Yi .TM,
	.DIan .Si .TM {
		opacity: 0;
		transition: all 3s;
	}
	.DIan .Yi .BIao {
		position: absolute;
		top: 20px;
		width: 46px;
		height: 30px;
		left: -10px;
	}
	.DIan .Yi .SASA {
		position: absolute;
		top: 3.5%;
		width: 20px;
		height: 20px;
		right: 1.5%;
		cursor: pointer;
	}
	.DIan .Yi p {
		color: #dfb050;
		font-size: 15px;
		font-weight: bold;
		padding: 5px 0 0 65px;
	}
	.DIan .Yi .Yi-W {
		width: 90%;
		height: 40%;
		display: block;
		padding-left: 15%;
		line-height: 21px;
	}
	.Yi .Yi-W .GDp {
		width: 35%;
		text-align: center;
		float: left;
		color: #fff;
		margin-right: 15%;
	}
	.Yi-W .GDp span {
		font-size: 16px;
	}
	.Bo-Zhong .DIan .Er {
		width: 100%;
		height: 24%;
		margin-bottom: 1%;
		position: relative;
		box-sizing: border-box;
		background: #2f79be;
	}
	.DIan .Er .BIao {
		position: absolute;
		top: 20px;
		width: 46px;
		height: 30px;
		left: -10px;
	}
	.DIan .Er .FD {
		position: absolute;
		top: 3.5%;
		width: 20px;
		height: 20px;
		right: 1.5%;
		cursor: pointer;
	}
	.DIan .Er p {
		color: #dfb050;
		font-size: 25px;
		letter-spacing: 2px;
	}
	.Er p span {
		font-size: 28px;
	}
	.Bo-Zhong .DIan .Ming {
		width: 90%;
		margin: 0;
		height: 100%;
		padding-left: 10%;
	}
	.Bo-Zhong .DIan .Sa {
		margin-bottom: 1%;
		height: 30%;
		width: 100%;
		position: relative;
		background: #2f79be;
	}
	.DIan .Sa .BIao {
		position: absolute;
		top: 20px;
		width: 46px;
		height: 30px;
		left: -10px;
	}
	.DIan .Sa .FD {
		position: absolute;
		top: 3.5%;
		width: 20px;
		height: 20px;
		cursor: pointer;
		right: 1.5%;
	}
	.DIan .Sa p {
		color: #dfb050;
		font-size: 25px;
		letter-spacing: 2px;
		padding: 15px 0 0 55px;
	}
	.Bo-Zhong .DIan .Zha {
		width: 90%;
		height: 100%;
		padding-left: 10%;
	}
	.Bo-Zhong .DIan .Si {
		height: 35%;
		width: 100%;
		padding-bottom: 5px;
		position: relative;
		background: #2f79be;
	}
	.DIan .Si .BIao {
		position: absolute;
		top: 20px;
		width: 46px;
		height: 30px;
		left: -10px;
	}
	.DIan .Si p {
		color: #dfb050;
		font-size: 16px;
		font-weight: bold;
		padding: 10px 0 0 55px;
	}
	.DIan .Si .YID{
		margin-left:0.5%;
	}
	.Si .Si-Yi {
		width: 80%;
		border-radius: 50px;
		background: #3e1f1d;
		text-align: center;
		height: 15px;
		line-height: 15px;
		margin: 3% auto 0px;
	}
	.Si .Si-Yi span {
		color: #fff;
		cursor: pointer;
		padding-right: 2%;
		margin-left: 3%;
		font-size: 16px;
	}
	.Si .Si-Yi .Yi-A {
		padding-left: 5%;
	}
	.Si .Si-Yi:hover {
		transform: scale(1.2);
	}
	.Si .Si-Er span {
		padding-left: 1%;
		padding-right: 9%;
	}
	.Si .Si-Er:hover span {
		color: yellow;
	}
	.Si .ZHuan {
		width: 100%;
		height: 154px;
		overflow: hidden;
	}
	.top {
		text-align: center;
		padding-top: 0.5%;
	}
	.top p {
		display: inline-block;
	}
	.top .left,
	.top .right {
		font-size: 15px;
	}
	.top .mid {
		padding: 0 8%;
		font-size: 23px;
	}
	.footer {
		font-size: 20px;
		margin-top: 0%;
		text-align: center;
	}
	.footer span {
		display: inline-block;
		margin-left: 2%;
		margin-right: 3%;
	}
	#Bo .II,
	#Bo .DD,
	#Bo .JJ {
		width: 100%;
		height: 100%;
		position: absolute;
		display: none;
		top: 0;
		background: rgba(0, 0, 0, 0.2);
	}
	#Bo .II .FA,
	#Bo .DD .FC,
	#Bo .JJ .FG {
		width: 0;
		height: 0;
		background: #2F79BE;
		position: absolute;
		top: 10%;
		z-index: 100;
		right: 20%;
	}
	#Bo .II .So,
	#Bo .DD .UU,
	#Bo .JJ .YU {
		position: absolute;
		right: 0;
		top: 3%;
		right: 3%;
		z-index: 9999999999;
		cursor: pointer;
	}
	#Bo .II .MoMo,
	#Bo .DD .GG,
	#Bo .JJ .TU {
		width: 100%;
		height: 100%;
	}
}

@media only screen and (min-width: 1250px) and (max-width: 1367px) {
	#Bo {
		width: 100%;
		heighT: 100%;
		position: relative;
	}
	.Bo-Zhong {
		width: 100%;
		height: 90%;
		position: relative;
	}
	.Bo-Zhong .Dian {
		width: 60%;
		height: 90%;
		float: left;
	}
	.Bo-Zhong .Dian p {
		color: black;
		bottom: 0;
		text-align: center;
		font-size: 20px;
		margin-top: -5%;
	}
	.Bo-Zhong .Zhong-l {
		height: 100%;
	}
	.Bo-Zhong .DIan {
		width: 30%;
		height: 90%;
		float: right;
		margin-right: 5%;
	}
	.Bo-Zhong .DIan .Yi {
		width: 100%;
		height: 19%;
		position: relative;
		margin: 0 auto;
		margin-bottom: 1%;
		background: #2f79be;
	}
	.DIan .Yi .TM,
	.DIan .Si .TM {
		opacity: 0;
		transition: all 3s;
	}
	.DIan .Yi .BIao {
		position: absolute;
		top: 20px;
		width: 46px;
		height: 30px;
		left: -10px;
	}
	.DIan .Yi .SASA {
		position: absolute;
		top: 3.5%;
		width: 20px;
		height: 20px;
		right: 1.5%;
		cursor: pointer;
	}
	.DIan .Yi p {
		color: #dfb050;
		font-size: 15px;
		font-weight: bold;
		padding: 5px 0 0 65px;
	}
	.DIan .Yi .Yi-W {
		width: 90%;
		height: 40%;
		display: block;
		padding-left: 15%;
		line-height: 15px;
	}
	.Yi .Yi-W .GDp {
		width: 35%;
		text-align: center;
		float: left;
		color: #fff;
		margin-right: 15%;
	}
	.Yi-W .GDp span {
		font-size: 13px;
	}
	.Bo-Zhong .DIan .Er {
		width: 100%;
		height: 24%;
		margin-bottom: 1%;
		position: relative;
		box-sizing: border-box;
		background: #2f79be;
	}
	.DIan .Er .BIao {
		position: absolute;
		top: 20px;
		width: 46px;
		height: 30px;
		left: -10px;
	}
	.DIan .Er .FD {
		position: absolute;
		top: 3.5%;
		width: 20px;
		height: 20px;
		right: 1.5%;
		cursor: pointer;
	}
	.DIan .Er p {
		color: #dfb050;
		font-size: 25px;
		letter-spacing: 2px;
	}
	.Er p span {
		font-size: 28px;
	}
	.Bo-Zhong .DIan .Ming {
		width: 80%;
		height: 130%;
		padding-left: 55px;
	}
	.Bo-Zhong .DIan .Sa {
		margin-bottom: 1%;
		height: 30%;
		width: 100%;
		position: relative;
		background: #2f79be;
	}
	.DIan .Sa .BIao {
		position: absolute;
		top: 20px;
		width: 46px;
		height: 30px;
		left: -10px;
	}
	.DIan .Sa .FD {
		position: absolute;
		top: 3.5%;
		width: 20px;
		height: 20px;
		cursor: pointer;
		right: 1.5%;
	}
	.DIan .Sa p {
		color: #dfb050;
		font-size: 25px;
		letter-spacing: 2px;
		padding: 15px 0 0 55px;
	}
	.Bo-Zhong .DIan .Zha {
		width: 90%;
		height: 120%;
		padding-left: 55px;
	}
	.Bo-Zhong .DIan .Si {
		height: 35%;
		width: 100%;
		padding-bottom: 5px;
		position: relative;
		background: #2f79be;
	}
	.DIan .Si .BIao {
		position: absolute;
		top: 20px;
		width: 46px;
		height: 30px;
		left: -10px;
	}
	.DIan .Si p {
		color: #dfb050;
		font-size: 15px;
		font-weight: bold;
		padding: 0px 0 0 65px;
	}
	.DIan .Si .YID{
		margin-left:0.5%;
	}
	.Si .Si-Yi {
		width: 80%;
		border-radius: 50px;
		background: #3e1f1d;
		text-align: center;
		height: 15px;
		line-height: 15px;
		margin: 5px auto 0px;
	}
	.Si .Si-Yi span {
		color: #fff;
		cursor: pointer;
		padding-right: 2%;
		margin-left: 3%;
		text-align: left;
		font-size: 12px;
	}
	.Si .Si-Yi .Yi-A {
		padding-left: 5%;
	}
	.Si .Si-Yi:hover {
		transform: scale(1.2);
	}
	.Si .Si-Er span {
		padding-left: 2%;
		padding-right: 9%;
	}
	.Si .Si-Er:hover span {
		color: yellow;
	}
	.Si .ZHuan {
		width: 100%;
		height: 141px;
		margin-top: -1%;
		overflow: hidden;
	}
	.top {
		text-align: center;
		padding-top: 0.5%;
	}
	.top p {
		display: inline-block;
	}
	.top .left,
	.top .right {
		font-size: 14px;
	}
	.top .mid {
		padding: 0 8%;
		font-size: 23px;
	}
	.footer {
		font-size: 13px;
		text-align: center;
	}
	.footer span {
		display: inline-block;
		margin-left: 2%;
		margin-right: 3%;
	}
	#Bo .II,
	#Bo .DD,
	#Bo .JJ {
		width: 100%;
		height: 100%;
		position: absolute;
		display: none;
		top: 0;
		background: rgba(0, 0, 0, 0.2);
	}
	#Bo .II .FA,
	#Bo .DD .FC,
	#Bo .JJ .FG {
		width: 0;
		height: 0;
		background: #2F79BE;
		position: absolute;
		top: 10%;
		z-index: 100;
		right: 20%;
	}
	#Bo .II .So,
	#Bo .DD .UU,
	#Bo .JJ .YU {
		position: absolute;
		right: 0;
		top: 3%;
		right: 3%;
		z-index: 9999999999;
		cursor: pointer;
	}
	#Bo .II .MoMo,
	#Bo .DD .GG,
	#Bo .JJ .TU {
		width: 100%;
		height: 100%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	#Bo {
		width: 100%;
		heighT: 100%;
		position: relative;
	}
	.Bo-Zhong {
		width: 100%;
		height: 90%;
		position: relative;
	}
	.Bo-Zhong .Dian {
		width: 60%;
		height: 90%;
		float: left;
	}
	.Bo-Zhong .Dian p {
		color: black;
		bottom: 0;
		text-align: center;
		font-size: 30px;
		margin-top: -5%;
	}
	.Bo-Zhong .Zhong-l {
		height: 100%;
	}
	.Bo-Zhong .DIan {
		width: 30%;
		height: 90%;
		float: right;
		margin-top: 7%;
		margin-right: 5%;
	}
	.Bo-Zhong .DIan .Yi {
		width: 100%;
		height: 19%;
		position: relative;
		margin: 0 auto;
		margin-bottom: 1%;
		background: #2f79be;
	}
	.DIan .Yi .TM,
	.DIan .Si .TM {
		opacity: 0;
		transition: all 3s;
	}
	.DIan .Yi .BIao {
		position: absolute;
		top: 20px;
		width: 46px;
		height: 30px;
		left: -10px;
	}
	.DIan .Yi .SASA {
		position: absolute;
		top: 3.5%;
		width: 20px;
		height: 20px;
		right: 1.5%;
		cursor: pointer;
	}
	.DIan .Yi p {
		color: #dfb050;
		font-size: 15px;
		font-weight: bold;
		padding: 5px 0 0 65px;
	}
	.DIan .Yi .Yi-W {
		width: 90%;
		height: 40%;
		display: block;
		padding-left: 15%;
		line-height: 25px;
	}
	.Yi .Yi-W .GDp {
		width: 35%;
		text-align: center;
		float: left;
		color: #fff;
		margin-right: 15%;
	}
	.Yi-W .GDp span {
		font-size: 16px;
	}
	.Bo-Zhong .DIan .Er {
		width: 100%;
		height: 24%;
		margin-bottom: 1%;
		position: relative;
		box-sizing: border-box;
		background: #2f79be;
	}
	.DIan .Er .BIao {
		position: absolute;
		top: 20px;
		width: 46px;
		height: 30px;
		left: -10px;
	}
	.DIan .Er .FD {
		position: absolute;
		top: 3.5%;
		width: 20px;
		height: 20px;
		right: 1.5%;
		cursor: pointer;
	}
	.DIan .Er p {
		color: #dfb050;
		font-size: 25px;
		letter-spacing: 2px;
	}
	.Er p span {
		font-size: 28px;
	}
	.Bo-Zhong .DIan .Ming {
		width: 90%;
		margin: 0;
		height: 100%;
		padding-left: 10%;
	}
	.Bo-Zhong .DIan .Sa {
		margin-bottom: 1%;
		height: 30%;
		width: 100%;
		position: relative;
		background: #2f79be;
	}
	.DIan .Sa .BIao {
		position: absolute;
		top: 20px;
		width: 46px;
		height: 30px;
		left: -10px;
	}
	.DIan .Sa .FD {
		position: absolute;
		top: 3.5%;
		width: 20px;
		height: 20px;
		cursor: pointer;
		right: 1.5%;
	}
	.DIan .Sa p {
		color: #dfb050;
		font-size: 25px;
		letter-spacing: 2px;
		padding: 15px 0 0 55px;
	}
	.Bo-Zhong .DIan .Zha {
		width: 90%;
		height: 100%;
		padding-left: 10%;
	}
	.Bo-Zhong .DIan .Si {
		height: 24%;
		width: 100%;
		padding-bottom: 5px;
		position: relative;
		background: #2f79be;
	}
	.DIan .Si .BIao {
		position: absolute;
		top: 20px;
		width: 46px;
		height: 30px;
		left: -10px;
	}
	.DIan .Si p {
		color: #dfb050;
		font-size: 16px;
		font-weight: bold;
		padding: 10px 0 0 55px;
	}
	.DIan .Si .YID{
		margin-left:0.5%;
	}
	.Si .Si-Yi {
		width: 80%;
		border-radius: 50px;
		background: #3e1f1d;
		text-align: center;
		height: 15px;
		line-height: 15px;
		margin: 3% auto 0px;
	}
	.Si .Si-Yi span {
		color: #fff;
		cursor: pointer;
		padding-right: 2%;
		margin-left: 0%;
		font-size: 12px;
	}
	.Si .Si-Yi .Yi-A {
		padding-left: 5%;
	}
	.Si .Si-Yi:hover {
		transform: scale(1.2);
	}
	.Si .Si-Er span {
		padding-left: 1%;
		padding-right: 9%;
	}
	.Si .Si-Er:hover span {
		color: yellow;
	}
	.Si .ZHuan {
		width: 100%;
		height: 154px;
		overflow: hidden;
	}
	.top {
		text-align: center;
		padding-top: 5.5%;
	}
	.top p {
		display: inline-block;
	}
	.top .left,
	.top .right {
		font-size: 12px;
	}
	.top .mid {
		padding: 0 6%;
		font-size: 14px;
	}
	.footer {
		font-size: 12px;
		margin-top: 0%;
		text-align: center;
	}
	.footer span {
		display: inline-block;
		margin-left: 2%;
		margin-right: 3%;
	}
	#Bo .II,
	#Bo .DD,
	#Bo .JJ {
		width: 100%;
		height: 100%;
		position: absolute;
		display: none;
		top: 0;
		background: rgba(0, 0, 0, 0.2);
	}
	#Bo .II .FA,
	#Bo .DD .FC,
	#Bo .JJ .FG {
		width: 0;
		height: 0;
		background: #2F79BE;
		position: absolute;
		top: 10%;
		z-index: 100;
		right: 20%;
	}
	#Bo .II .So,
	#Bo .DD .UU,
	#Bo .JJ .YU {
		position: absolute;
		right: 0;
		top: 3%;
		right: 3%;
		z-index: 9999999999;
		cursor: pointer;
	}
	#Bo .II .MoMo,
	#Bo .DD .GG,
	#Bo .JJ .TU {
		width: 100%;
		height: 100%;
	}
}