*{
	padding: 0;
	margin: 0;
}
html,body{
	width:100%;
	height:100%;
}
html{
/*	padding-top: 25px;*/
	background:url("../img/2.jpg") no-repeat;
	background-size: cover;
}
.content{
	margin: 0 auto;
	color:#efeeee;
	margin-left: 6%;
	margin-right: 6%;
	font-family: "宋体";
	height:95%;
	text-align: center;
}

.top2{
	padding: 2% 2%;
	font-size: 23px;
	text-align: left;
}

.biaoge{
	/*height:438px;*/
	overflow: hidden;
	padding-left: 2%;
	padding-right: 2%;
	height:70%;
}

table{
	float :left;
	width:48%;
	height:100%;
}
tbody{
	height:100%;
}
table tr{
	text-align: center;
	font-size: 15px;
	margin-bottom: 1.3%;
	background:#b72322;
	display: block;
	display: flex;
	height:18px;
	line-height: 18px;
/*	height:17px;*/
}

table td{
/*    padding: 0 30px;*/
    width:26%;
    /*height:23px;
    line-height: 23px;*/
    display: inline-block;
 /*   text-align: left;*/
    flex:1;
}


table .ttop{
	background:#705843;
}
table .t3,table .t5{
	background:#112a35;
	color:#7fa83b;
}
.ye{
	width:57%;
	background:#b72322; 
	margin: 8px auto;
}

.biaoge .right{
	float: right;
}
.biaoge tr:hover{
	transform: scale(1.05,1.5);

}
a:hover{
	cursor:pointer;
}
@media only screen and (max-width: 1029px){
	table tr{
		height:4.5%;
	}
	}
@media only screen and (min-width: 1600px){
	table tr{
		height:22px;
    	line-height: 22px;

	}

	}